{% extends 'baseHome.html' %} 

{% load static %} 

{% block homeactive %}active{% endblock homeactive %} 

{% block title %} Home {% endblock title %} 
{% block css_links %}
<link rel="stylesheet" href="{%static 'css/home.css'%}" />
{% endblock css_links %} 

{% block body %} 

{% block main %}
<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold text-white">
    Read<span class="text-danger">It.</span>
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 about-us-paragraph">
       Welcome to Read<span class="text-danger">It</span>, the ultimate
      online blog page where you can explore a diverse range of captivating
      articles, written by talented authors from around the globe. ReadIt offers
      a seamless and user-friendly platform that caters to all your reading
      interests and keeps you engaged with thought-provoking content.
    </p>
    {% if user.is_authenticated %}

    {% else %}
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button type="button" class="btn btn-light btn-lg px-4 me-sm-3" data-bs-toggle="modal" data-bs-target="#loginModal">
        Login
      </button>
      <button type="button" class="btn btn-outline-light btn-lg px-4" data-bs-toggle="modal" data-bs-target="#signupModal">
        Signup
      </button>
    </div>
    {% endif %}
  </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 rounded">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="https://images.unsplash.com/photo-1571401835393-8c5f35328320?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
        class="d-block mx-lg-auto img-grayscale img-fluid rounded"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <p class="lead about-us-paragraph">
        At ReadIt, we believe in the power of words to inspire, educate, and entertain. Our blog page is meticulously curated to provide you with a rich and varied selection of articles spanning a wide array of topics. Whether you're passionate about technology, travel, fashion, lifestyle, science, or any other subject, you'll find something to captivate your interests on ReadIt.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/about"><button type="button" class="btn btn-light btn-lg px-4 me-md-2">
          About Us
        </button></a>
        <a href="/blog"><button type="button" class="btn btn-outline-light btn-lg px-4">
          Blog
        </button></a>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>


<div class="container my-5">
  <div
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
  >
  <div class="col-lg-4 m-2 offset-lg-1 pb-2 rounded overflow-hidden shadow">
    <img
      class="rounded-lg-3 img-grayscale"
      src="https://images.unsplash.com/photo-1530819568329-97653eafbbfa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1465&q=80"
      alt=""
      width="720"
    />
  </div>
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-white">
        Easy-to-Use Interface
      </h1>
      <p class="lead about-us-paragraph">
        We understand the importance of a seamless user experience. Navigating ReadIt is effortless with our intuitive and user-friendly interface. You can easily search for specific topics, explore categories, bookmark articles for later reading, and create your own personalized reading lists. We prioritize simplicity, allowing you to focus on what matters most—reading and engaging with captivating content.
      </p>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-white mb-3">
          Interactive Features
        </h1>
        <p class="col-lg-10 fs-5 text-secondary about-us-paragraph">
          ReadIt offers an interactive reading experience that goes beyond just text on a screen. Engage with the articles through features like comments, likes, and sharing options. You can share your thoughts and insights, connect with fellow readers, and spark meaningful discussions around the topics you're passionate about. Your active participation enriches the community and fosters a sense of belonging.
        </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        {% if user.is_authenticated %}

    {% else %}
        <form class="p-4 p-md-5 border rounded-3 bg-body-dark">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me" /> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-outline-light" type="submit">
            Sign up
          </button>
          <hr class="my-4" />
          <small class="text-body-secondary"
            >By clicking Sign up, you agree to the terms of use.</small
          >
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="b-example-divider"></div>
  
<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Stay Connected</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4 about-us-paragraph">
        ReadIt is more than just a blog page; it's a thriving community of like-minded individuals passionate about knowledge and the written word. Connect with fellow readers and authors, follow your favorite writers, and stay up-to-date with the latest trends and articles. Share your own thoughts and ideas, forge meaningful connections, and become a part of the ReadIt community.
      </p>
      <p class="fs-5 mb-4 about-us-paragraph">
        Start exploring the captivating world of ReadIt today and let your curiosity be rewarded with exceptional content, meaningful connections, and endless inspiration. Happy reading!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/contact"><button type="button" class="btn btn-light btn-lg px-4 me-sm-3 fw-bold">
          Contact Us
        </button></a>
        <button type="button" class="btn btn-outline-light btn-lg px-4" onclick="scrollToTop()">
          Go to top
        </button>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider mb-0"></div>
{% endblock main %} {% endblock body %}
{% block js %}
<script src="{%static "js/home.js"%}">
</script>
{% endblock js %}