.fst-italic {
    font-family: 'Bacasime Antique', serif;
}

/* SEARCH INPUT */

.search-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width:100%;
    margin-bottom: 1rem;
  }
  
  .input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #343A40;
    caret-color: #f7f7f8;
    color: #fff;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: 1px;
    transition: all .2s ease;
  }
  
  .input:hover {
    border: 2px solid rgba(255, 255, 255, 0.16);
  }
  
  .input:focus {
    border: 2px solid #e4e4e4;
    background-color: #0e0e10;
  }
  
  .search__btn {
    border: none;
    cursor: pointer;
    background-color: rgba(42, 42, 45, 1);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search__btn:hover {
    background-color: rgba(54, 54, 56, 1);
  }

  .about-desc-aside::first-letter {
    color: red;
    font-size: 3rem;
    float: left;
    line-height: 1;
    margin-right: 0.5rem;
    font-weight: bold;
    font-family: 'Bacasime Antique', serif;
}

.about-header-aside{
    font-family: 'Bacasime Antique', serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

h1.heading-post{
    font-size: 2.7rem;
    font-family: 'Bacasime Antique', serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.555);
}


.login-button-nav,.signup-button-nav,
.login-button-nav:focus,.signup-button-nav:focus,
.login-button-nav:active,.signup-button-nav:active{
  outline: none !important;
  border: none !important;
  background: transparent !important;
}
.login-button-nav:hover,.signup-button-nav:hover{
color: white !important;
}


.text-muted{
  transition: all 0.2s ease !important;
}
.text-muted:hover{
  color: rgb(251,251,238) !important;
}