{% extends 'nav.html' %}
{% load static %}


{% block secondNav %}

<div class="nav-scroller py-1 px-4 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-around">
      <a class="nav-item nav-link link-body-emphasis {% block homeactive %}{% endblock homeactive %} " href="/"
        >Home</a>
      <a class="nav-item nav-link link-body-emphasis {% block aboutactive %}{% endblock aboutactive %}" href="/about">About</a>
      <a class="nav-item nav-link link-body-emphasis {% block blogactive %}{% endblock blogactive %}" href="/blog">Blog</a>
      <a class="nav-item nav-link link-body-emphasis {% block contactactive %}{% endblock contactactive %}" href="/contact">Contact</a>
      {% comment %} <a class="nav-item nav-link link-body-emphasis" href="#">Business</a>
      <a class="nav-item nav-link link-body-emphasis" href="#">Politics</a>
      <a class="nav-item nav-link link-body-emphasis" href="#">Opinion</a>
      <a class="nav-item nav-link link-body-emphasis" href="#">Science</a>
      <a class="nav-item nav-link link-body-emphasis" href="#">Health</a>
      <a class="nav-item nav-link link-body-emphasis" href="#">Style</a>
      <a class="nav-item nav-link link-body-emphasis" href="#">Travel</a> {% endcomment %}
    </nav>
  </div>
  {% endblock secondNav %}
  {% block body %} 
    <main>
    {% block main %} 


    
    {% endblock main %} 
    </main>
    {% endblock body %}
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    {% block script %}{% endblock script %}
    <script src="{%static 'js/main.js'%}"></script>



